.navbar-container{
    padding: 0 0 4rem;
    .navbar-wrapper {
        position: fixed;
        width: 100%;
        background-color: #333;
        padding: 1rem 1.5rem;
        transition: all 0.5s ease-in-out;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-container{
            margin: 0.5rem;
            cursor: pointer;
            color: #FFF;
            font: normal normal 600 15px/12px Soleil;
            letter-spacing: 3.5px;
            font-family: Lato;
            text-transform: uppercase;
        }

        .link-container {
            margin: 0;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            .link-item {
                margin: 0 1.5vw;
                padding-bottom: 0.5rem;
                .link {
                    color: #FFF;
                    margin: 0.4rem 1rem;
                    text-decoration: none;
                    cursor: pointer;
                    letter-spacing: 1px;
                    font-family: Lato;
                    text-transform: capitalize;
                }
            }
        }

        .button-container{
            display: inline-block;
        button{
            font-size: 13px;
            background: #564f6f;
            border-radius: 6px;
            padding: 8px 16px;
            color: #fff;
            border: 1px solid #564f6f;
            cursor: pointer;
            margin: 0px 10px;
            font-family: Lato;
        }
        }
        .link-item:hover {
            border-bottom: 0.2rem solid #a88ccd;
            
        }
        .active{
            border-bottom: 0.2rem solid #a88ccd;
        }
    }
    @media only screen and (max-width: 650px){
        .navbar-wrapper{
            width: 100%;
            padding: 1rem;
            .logo-container{
                margin: 0.5rem;
            }
            .link-container{
                .link-item {
                    margin: 0 2.5px;
                    padding-bottom: 0.6rem;
                    .link {
                        margin: 0.4rem 0.7rem;
                        font-size: 14px;
                    }
                }
            }
            .button-container{
                display: none;
            }
            
        }
    }
}