.modal-wrapper{
    width: 100%;
    height: auto;
    min-height: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    .login-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
        height: 350px;
        width: 750px;
        .content-wrapper{
            display: flex;
            width: 100%;
            height: 100%;
            .left-wrapper{
                width: 50%;
                background-color: #38136A;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .right-wrapper{
                width: 50%;
                background-color: white;
                padding: 2rem;
                display: flex;
                align-content: space-between;
                flex-wrap: wrap;
                .login-head{
                    text-align: center;
                    margin: 10px 0px 25px 0px;
                    width: 100%;
                    h2{
                        font-weight: 600;
                        letter-spacing: 2px;
                        color:#38136A ;
                    }
                }
                .input-area{
                    margin: 12px;
                    text-align: center;
                    width: 100%;
                    .in-feild{
                        width: 100%;
                        height: 30px;
                        margin: 15px 0px;
                        input{
                            cursor: pointer;
                            height: 100%;
                            width: 100%; 
                            border: none;
                            border-bottom: 2px solid gray;
                            outline: none;
                            font-weight: 600;
                            color: #fc9d0c;
                            font-size: 17px;
                        }
                        input:focus{
                            border-bottom: 2px solid #fc9d0c;
                        }
                    }
                }
                .button-area{
                    width: 100%;
                    margin: 10px;
                    text-align: center;
                    button{
                        width: 60%;
                        height: 28px;
                        font-weight: 600;
                        background-color: #fc9d0c;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        
        }
    }
    .modal-background{
        width: 100%;
        height: auto;
        min-height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
    }


    .signin-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
        height: 475px;
        width: 850px;
        .content-wrapper{
            display: flex;
            width: 100%;
            height: 100%;
            .left-wrapper{
                width: 50%;
                background-color: #38136A;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .right-wrapper{
                width: 50%;
                background-color: white;
                padding: 2rem;
                display: flex;
                align-content: space-between;
                flex-wrap: wrap;
                .login-head{
                    text-align: center;
                    margin: 10px 0px 15px 0px;
                    width: 100%;
                    h2{
                        font-weight: 600;
                        letter-spacing: 2px;
                        color:#38136A ;
                    }
                }
                .input-area{
                    padding: 8px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    text-align: center;
                    width: 100%;
                    .in-feild{
                        width: 16.5rem;
                        height: 30px;
                        margin: 15px 0px;
                        input{
                            cursor: pointer;
                            height: 100%;
                            width: 100%; 
                            border: none;
                            border-bottom: 2px solid gray;
                            outline: none;
                            font-weight: 600;
                            color: #fc9d0c;
                            font-size: 17px;
                        }
                        input:focus{
                            border-bottom: 2px solid #fc9d0c;
                        }
                    }
                }
                .button-area{
                    width: 100%;
                    margin: 10px;
                    text-align: center;
                    button{
                        width: 60%;
                        height: 28px;
                        font-weight: 600;
                        background-color: #fc9d0c;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        
        }
    }
    .modal-background{
        width: 100%;
        height: auto;
        min-height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
    }
}
