<header>
    <h4>FitGuide</h4>
    <nav>
        <ul class="nav-link">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>  
        </ul>
    </nav>
    <div class="btn-grp">
        <button>Login</button>
        <button>Sign Up</button>
    </div>
</header>
<div class="container">

    <div class="top-sec">
        <div class="text-area">
            <h1>Welcome to your Fitness Guide</h1>
        </div>
        <div class="img-area">
            <img src="../../../../assets/img/group.png" alt="">
        </div>
    </div>
    <div class="mid-sec">
        <div class="mid-head">
            <h2> We respect your wish for...</h2>
        </div>
        <div class="mid-content">
            <div class="main-content">
                <div class="left-side">
                    <h1 class="txt1">"Healthy Life"</h1>
                    <h1 class="txt2">"Healthy Body"</h1>
                    <h1 class="txt3">"Healthy Mind"</h1>
                </div>
                <div class="right-side">
                    <img src="../../../../assets/img/y1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="mid-card-sec">
        <div class="card-head">
            <h1>Our Program Includes...</h1>
        </div>
        <div class="main-card">
            <div class="card">
                <img src="../../../../assets/img/group2.png" alt="">
                <div class="card-text">
                    <h5>Yoga For...</h5>
                    <p>Mental health, Core Strength and Blood Flow</p>
                </div>
            </div>

            <div class="card">
                <img src="../../../../assets/img/workout.png" alt="">
                <div class="card-text">
                    <h5>Workout For...</h5>
                    <p>Strength and Muscle</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="leftpart">
        <h4>For Enquires </h4>
        <label for="email">Email</label>
        <h6 id="email">fitguide@fakemail.com</h6>
        <label for="num">Contact</label>
        <h6 id="num">96XXXXXXXX</h6>
    </div>
    <div class="midpart">
        <h4>Our Social Handles</h4>
    </div>
    <div class="rightpart">
       <h3>Developed By SA</h3>
    </div>
</footer>
