.container{
    box-sizing: border-box;
    background-size: cover;
    .wel-img{
        background-image: linear-gradient(to left bottom, #86a8e7, #9a9ae1, #b08bd3, #c37bbf, #d16ba5);
        width: 100vw;
        height: 90vh;
        padding: 10px;
        .img-area{
            text-align: center;
            margin: 20px 0px;
            img{
                height: 375px;
                width: 375x;
            }
        }
        .text-area{
            text-align: center;

            h2{
                margin: 20px 0px;
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 26px;
            }
        } 
    }

    .intro{
        width: 100vw;
        height: 75vh;
        .intro-wrapper{
            padding: 10px;
            position: relative;
            .circle-md{
                position: absolute;
                left: 10%;
                top: 25%;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                background-color: #d16ba5;
                box-shadow: 0px 3px 8px #aaa;
                opacity: 0.3;
            }
            @media only screen and (max-width: 700px){
                .circle-md{
                    height: 100px;
                    width: 100px;
                    opacity: 0.3px;
                }
            }
        }

        .intro-content{
            display: flex;
            justify-content: space-around;
            .intro-head{
                margin-left: 20px;
                text-align: center;
                width: 40%;
                h2{
                    font-weight: 700;
                    line-height: 90px;
                    font-size:30px;
                    color: burlywood;
                }
            }

            .intro-text{
                padding: 10px;
                .yoga-intro{
                    line-height: 45px;
                    padding: 15px;
                    color: burlywood;
                    h4{
                        padding: 15px;
                        font: normal normal normal 24px Soleil;
                        letter-spacing: 1.5px;
                    }
                    h5{
                        padding: 15px;
                        font: normal normal normal 21px Soleil;
                        letter-spacing: 1.4px;  
                    }
                }
                @media only screen and (max-width: 700px){
                    .yoga-intro{
                       h4{
                            font: normal normal normal 16px Soleil;
                       }
                       h5{
                            font: normal normal normal 13px Soleil;
                       }
                    }
                }
            }
        }
    }

    .activites{
        padding: 5px;
        width: 100vw;
        .act-header{
            text-align: center;
        }
        .act-wrapper{
            width: 100%;
            margin: 2.5rem 0rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .program-head{
                background-image: linear-gradient(to right, #fc9d0c, #ff9e3b, #ffa158, #ffa671, #ffac88);
                width: 55%;
                border-radius: 10px;
                height: 3rem;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                h1{
                    font-weight: 600;
                    margin-right: 25px;
                    cursor: pointer;
                }
            }
            .program-content{
                width: 100vw;
                padding: 15px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .pose-card{
                    width: 480px;
                    box-shadow:  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 15px;
                    margin: 20px 15px;
                    .pose-img{
                        width: 75%;
                        object-fit: fill;
                        background-image: linear-gradient(to bottom, #86a8e7, #9a9ae1, #b08bd3, #c37bbf, #d16ba5);
                        img{
                            width: 100%;
                            object-fit: fill;
                            height: 250px;
                        }

                    }
                    .pose-title{
                        width: 25%;
                        text-align: center;
                        line-height: 60px;
                        h4{
                            font-weight: 600;
                            font-size: 16px;
                            
                        }
                        button{
                            height: 22px;
                            background: #fc9d0c;
                            cursor: pointer;
                            border-radius: 8px;
                            border: none;
                            width: 80%;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        
    }
}
