<div class="container">
    <section class="head-sec">
        <img src="https://fitguidebucket.s3.ap-south-1.amazonaws.com/assets/img/about.png" alt="">
        <div class="text-area">
            <p>Fitguide</p>
        </div>
    </section>

    <section class="mid-sec">
        <div class="mid-wrapper">
            <div class="left-side">
                    <img src="https://fitguidebucket.s3.ap-south-1.amazonaws.com/assets/img/abtt.png" alt="">
            </div>
            <div class="right-side">
                <h2>Get to <br> know us</h2>
                <hr>
                <p>We Believe in healthy lifestyle leads to healthy mind, <br> That's Why we work together for your and happy stressless life.</p>
            </div>
        </div>
    </section>
    <section class="last-sec">
        <div class="sec-title">
            <h2>Our Clients</h2>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <div class="name">
                    <h2>Alberto Mario</h2>
                </div>
                <div class="card-img">
                    <img src="https://fitguidebucket.s3.ap-south-1.amazonaws.com/assets/img/client.png" alt="">
                </div>
                <div class="card-review">
                    <h4>Test text are so long to write so here is just smaple text instead of long paragrapgh.</h4>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="name">
                    <h2>Alberto Mario</h2>
                </div>
                <div class="card-img">
                    <img src="https://fitguidebucket.s3.ap-south-1.amazonaws.com/assets/img/client2.png" alt="">
                </div>
                <div class="card-review">
                    <h4>Test text are so long to write so here is just smaple text instead of long paragrapgh.</h4>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="name">
                    <h2>Alberto Mario</h2>
                </div>
                <div class="card-img">
                    <img src="https://fitguidebucket.s3.ap-south-1.amazonaws.com/assets/img/client3.png" alt="">
                </div>
                <div class="card-review">
                    <h4>Test text are so long to write so here is just smaple text instead of long paragrapgh.</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-sec">
        <div class="contact-wrapper">
            <div class="left-side">
                <h2>Contact Us</h2>
                <hr>
                <div class="details">
                    <h4>Contact No.</h4>
                    <p>96XXXXXXXX</p>
                    <h4>Email Address</h4>
                    <p>fitguide@fakemail.com</p>
                </div>
            </div>
            <div class="right-side">
                <img src="https://fitguidebucket.s3.ap-south-1.amazonaws.com/assets/img/weights.png" alt="">
            </div>
        </div>
    </section>
</div>
