<header>
    <h4>FitGuide</h4>
    <nav>
        <ul class="nav-link">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>  
        </ul>
    </nav>
    <div class="btn-grp">
        <button (click) = "onLogin()" type="button">Login</button>
        <button (click) = "onSignUp()">Sign Up</button>
    </div>
</header>
<div class="container">

    <div class="top-sec">
        <div class="main-wrapper">
            <div class="img-area">
                <img src="../../../../assets/img/group.png" alt="">
            </div>
            <div class="text-area">
                <p>Welcome to fitguide</p>
                <span>  A new way to fullfill the dream of fit body and healthy Mind all together.</span>
                <div class="button-ar">
                    <button (click) = "onSignUp()">Join Now !</button>
                </div>
            </div>

        </div>

        <div class="curve-area">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 260"><path fill="#ffff" fill-opacity="1" d="M0,192L80,197.3C160,203,320,213,480,218.7C640,224,800,224,960,192C1120,160,1280,96,1360,64L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
        </div>
    </div>

    <section class="program-sec">
        <div class="program-head">
            <h2>Our Programms</h2>
        </div>
        <div class="program-area">
            <div class="program-card" (click) = "onYoga()">
                <div class="program-img">
                    <img src="../../../../assets/img/group2.png" alt="">
                </div>
                <div class="program-title">
                    <h3>Yoga </h3>
                </div>
            </div>
        
            <div class="program-card" (click) = "onWorkout()">
                <div class="program-img">
                    <img src="../../../../assets/img/workout.png" alt="">
                </div>
                <div class="program-title">
                    <h3>Weight Training</h3>
                </div>
            </div>

            <div class="program-card">
                <div class="program-img">
                    <img src="../../../../assets/img/yw.png" alt="">
                </div>
                <div class="program-title">
                    <h3>Yoga + Weight Training</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="mid-sec">
        <div class="mid-head">
            <h2> We respect your wish for...</h2>
        </div>
        <div class="mid-content">
            <div class="main-content">
                <div class="left-side">
                    <h1 class="txt1">"Healthy Life"</h1>
                    <h1 class="txt2">"Healthy Body"</h1>
                    <h1 class="txt3">"Healthy Mind"</h1>
                </div>
                <div class="right-side">
                    <img src="../../../../assets/img/y1.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <section class="mentor-sec">
        <div class="mentor-head">
            <h2>Our Mentors</h2>
        </div>
        <div class="mentor-container">
            <div class="mentor-card">
                <div class="mentor-img">
                    <img src="../../../../assets/img/tra.png" alt="">
                </div>
                <div class="mentor-title">
                    <h4>Swammy Rambir</h4>
                </div>
            </div>

            <div class="mentor-card">
                <div class="mentor-img">
                    <img src="../../../../assets/img/tra1.png" alt="">
                </div>
                <div class="mentor-title">
                    <h4 class="under">Swammy Rambir</h4>
                </div>
            </div>
 
            <div class="mentor-card">
                <div class="mentor-img">
                    <img src="../../../../assets/img/tra2.png" alt="">
                </div>
                <div class="mentor-title">
                    <h4 class="under">Swammy Rambir</h4>
                </div>
            </div>
        </div>
    </section>


</div>
<footer>
    <div class="leftpart">
        <h4>For Enquires </h4>
        <label for="email">Email</label>
        <h6 id="email">fitguide@fakemail.com</h6>
        <label for="num">Contact</label>
        <h6 id="num">96XXXXXXXX</h6>
    </div>
    <div class="midpart">
        <h4>Our Social Handles</h4>
    </div>
    <div class="rightpart">
       <h3>Developed By SA</h3>
    </div>
</footer>

