<div class="modal-wrapper" *ngIf = "_isShowModal == true">

    <div class="yoga-pose-box" *ngIf = "_openFor == 0" >
        <div class="pose-content">
            <div class="pose-img">
                <video src="{{_modalMedia}}" autoplay loop></video>
            </div>
            <div class="pose-description">
                <h3>{{_mediaDescription}}</h3>
            </div>
        </div>
    </div>
    <div class="modal-background" *ngIf="_isShowModal == true" (click) = "onCloseModal()"></div>

    <div class="yoga-pose-box" *ngIf = "_openFor == 1">
        <div class="pose-content">
            <div class="pose-img">
                <video src="{{_modalMedia}}" autoplay loop></video>
            </div>
            <div class="pose-description">
                <h3>{{_mediaDescription}}</h3>
            </div>
        </div>
    </div>
</div>
